<div class="container nav-bar">
    <nav>
        <ul>
           
            <li><a href="/meditation">Meditation</a></li>
            <li><a href="/music">Music</a></li>
            <li><a href="/home">Home </a></li>
    
            <li><a href="/yoga">Yoga </a></li>
            <li><a href="/profile">Profile </a></li>
            
        </ul>
    </nav>
</div>