<div class="container nav-bar">
    <nav>
        <ul>

            <a href="">
                <div>
                    <li class="active">
                        <div class="nav_top">

                            <img src="/images/nav_meditation.svg" alt="">
                        </div>
                        <div class="nav_bottom">

                            <a href="/meditation">Meditation</a>
                        </div>
                    </li>
                </div>
            </a>




            <li>
                <div class="nav_top">

                    <img src="/images/music.svg" alt="">
                </div>

                <div class="nav_bottom">

                    <a href="/music">Music</a>
                </div>
            </li>

            <li>
                <div class="nav_top">

                    <img src="/images/home.svg" alt="">
                </div>

                <div class="nav_bottom">

                    <a href="/home">Home </a>
                </div>
            </li>

            <li>
                <div class="nav_top">

                    <img src="/images/yoga.svg" alt="">
                </div>

                <div class="nav_bottom">

                    <a href="/yoga">Yoga </a>
                </div>

            </li>

            <li>
                <div class="nav_top">

                    <img src="/images/profile.svg" alt="">
                </div>

                <div class="nav_bottom">

                    <a href="/profile">Profile </a>
                </div>

            </li>


        </ul>
    </nav>
</div>