<div class="container nav-bar">
    <nav>
        

            <a href="/meditation">
                <div class=" btn_wrapper">
                    
                        <div class="nav_top">

                            <img src="/images/nav_meditation.svg" alt="">
                        </div>
                        <div class="nav_bottom">

                            <p>Meditation</p>
                        </div>
                    
                </div>
            </a>

            <a href="/music">
                <div class="btn_wrapper">
                    
                    <div class="nav_top">

                        <img src="/images/music.svg" alt="">
                    </div>
    
                    <div class="nav_bottom">
    
                        <p>Music</p>
                    </div>
                    
                </div>
            </a>

            <a href="/home">
                <div class="btn_wrapper">
                    
                    <div class="nav_top">

                        <img src="/images/home.svg" alt="">
                    </div>
    
                    <div class="nav_bottom">
    
                        <p>Home</p>
                    </div>
                    
                </div>
            </a>

            <a href="/yoga">
                <div class=" active btn_wrapper">
                    
                    <div class="nav_top">

                        <img src="/images/yoga.svg" alt="">
                    </div>
    
                    <div class="nav_bottom">
    
                        <p>Yoga</p>
                    </div>
                    
                </div>
            </a>

            <a href="/profile">
                <div class="btn_wrapper">
                    
                    <div class="nav_top">

                        <img src="/images/profile.svg" alt="">
                    </div>
    
                    <div class="nav_bottom">
    
                        <p>Profile</p>
                    </div>
                    
                </div>
            </a>

    </nav>
</div>