/*====================
    Global Styles
======================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

/*
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*====================
    header Silent Moon 
======================*/
.home_header h1{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3em;
    color: #4A503D;
    padding: 30px 0px 40px 0px; 
    font-weight: 600;
    letter-spacing: 2px;
}


.home_header h2{
    font-size: 30px;
    padding: 20px 0px 10px 5%;
    font-family: 'Source Sans Pro', sans-serif;
    color:#4A503D;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1.5em;
}

.home_header p{
    padding: 0px 0px 35px 5%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color:#A1A4B2;
}

/*====================
    Bild Container Back & Meditations
======================*/
.bild_container{
    display:flex;
    justify-content: space-evenly;
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 70px;
}

.Bild1{
    background: url("/images/main1.png") no-repeat center / cover;
    border-radius: 5%;
}

.Bild1 h2{
    font-size: 1.5em;
    color:#FFECCC;
    padding-right: 80px; 
    padding-top: 50px;
    padding-left: 10px;

}

.Bild1 h3{
    font-size: 0.5em;
    color:#FFECCC;
    letter-spacing: 3px;
    font-weight: 600;
    padding-left: 10px;
}


.Bild2{
    background: url("/images/main2.png") no-repeat center / cover;
    border-radius: 5%;
}

.Bild2 h2,h3{
    color: #4A503D;
}

.Bild2 h2{
    font-size: 1.5em;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 10px;
    
}

.Bild2 h3{
    font-size: 0.5em;
    padding-left: 10px;
    letter-spacing: 3px;
}

/*====================
    MIN & Start im Bild 
======================*/
.min_start1{
    display: flex;
    justify-content: space-between;
    font-size: 0.5em;
    padding: 20px 10px 10px 10px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FAF2DA;
}

.min_start1 a{
    color: #4A503D;
    text-decoration: none;
    padding-right: 20px;
    border: 1px solid #FAF2DA;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background:#FAF2DA;
}


.min_start2{
    display: flex;
    justify-content: space-between;
    font-size: 0.5em;
    color: #FAF2DA;
    padding: 50px 10px 10px 10px; 
    font-family: 'Source Sans Pro', sans-serif;
}

.min_start2 a{
    padding-left:20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #4A503D;
}

.min_start2 a{
    color: #FAF2DA;
    text-decoration: none;
    border: 1px solid;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.sessions{
    font-family: 'Source Sans Pro', sans-serif;
    color: #4A503D;
    margin-bottom: 30px;
    margin-left: 3%;
}

/*====================
    slideshow Styles
======================*/
.horizontal_slider{
    display:block;
    width: 100%;
    overflow-x: scroll;
}

.slider_container{
    display:block;
    white-space: nowrap;
    margin-left: 4%;
}

.item{
    display:inline-block;
    margin-right: 10px;
}

.item image{
    width: 150px;
}


/*====================
    slideshow Beschreibung
======================*/
figcaption{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1em;
    color: #4A503D;
    font-weight:bold;
    padding-bottom: 5px;
    letter-spacing: 2px;
}

.description1{
    display:flex;
    justify-content: space-between;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    color: #A1A4B2;
    margin: 0px 0px 45px 0px;
}

.description2{
    display:flex;
    justify-content: space-between;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    color: #A1A4B2;
    margin: 0px 0px 45px 0px;
}

.description2 p{
    padding-bottom: 40px;

}

