/*====================
    Global Styles
======================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

/*
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*====================
Meditation_details_Bild Styles
======================*/
.meditation_details_header{
    background: url('/images/meditation.jpeg') center/ cover no-repeat ;
    padding: 0px 0px 40% 0px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height:80vh;
}
/*====================
Meditation_details_Buttons Styles
======================*/
.meditation_details_buttoncontainer{
    padding: 20px 20px;
    display:flex;
    justify-content:space-evenly;
    width:35vw;
}
.meditation_details-favBtn,.meditation_details-downloadBtn{
    padding:10px;
    font-size: 15px;
    height:5vh;
    background: rgba(226,143,131, 0.5);
    border-radius:50%;
    border:1px solid rgba(226,143,131, 0.5);
    color: #FAF2DA;
}
/*====================
Meditation_details_Überschrift_h1 Styles
======================*/
.meditation_details_h1{
    padding: 10px 0px 10px 5%;
    font-family: 'Source Sans Pro', sans-serif;
    color: #4A503D;
}

/*====================
Meditation_details_h2 Styles
======================*/
.meditation_details_h2{
    padding: 0px 0px 20px 5%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #A1A4B2;
}

/*====================
Meditation_details_p Styles
======================*/
.meditation_details_p{
    padding: 0px 0px 20px 5%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #A1A4B2;
}
/*====================
Meditation_details_playlist-h1 Styles
======================*/
.meditation_detail_playlist-h1{
    font-family: 'Source Sans Pro', sans-serif;
    color: #3F414E;
    padding-left: 5%;
    font-size:1.5em;
}
/*====================
Meditation_details_playlist-name Styles
======================*/
.meditation_main{
    margin: auto;
    width:90%;
}
.meditation_main .meditation_main_a_wrapper i{
    margin: 5px 5px 5px 15px;
    font-size: 42px;
    border-radius: 100%;
    background: #8E9775;
    color: white;
}

.meditation_main_a_wrapper a{
    margin: 10px 0px 0px 0px;
    display:flex;
    align-items: center;
    text-decoration: none;
    color:black;
    background: #FAF2DA;
    border-radius: 20px
}

.meditation_main_a_wrapper_inner{
    padding-left: 20px;
}
.h2{
    font-size: 15px;
}

.p{
    font-size: px;
}
/*=========================
   meditation Mobile-Version Styles
==========================*/
@media (max-width: 414px) { 
    .meditation_details_header{
        height:50vh;
    }
    .meditation_details_buttoncontainer{
        padding: 20px 20px;
    }
    /* /////////////////////////////////// */
    .meditation_details-favBtn,.meditation_details-downloadBtn{
        padding:8px;
        height:4vh;
    }
    /* /////////////////////////////////// */
    .meditation_details_h1{
        padding: 10px 0px 0px 20px;
        font-size:15px;
    }
    .meditation_details_h2{
        padding: 5px 0px 0px 20px;
        font-size:12px;
    }
    .meditation_details_p{
        padding: 5px 0px 0px 20px;
        font-size:12px;
        width:76vw;
    }
    .meditation_detail_playlist-h1{
        padding: 20px 0px 10px 5px;
        font-size:15px;
    }
    }