/*====================
    Global Styles
======================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

/*
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*====================
Meditation_details_Bild Styles
======================*/
.meditation_details_header{
    background: url('/images/meditation.jpeg') center/ cover no-repeat ;
    padding: 0px 0px 40% 0px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height:80vh;
}
/*====================
Meditation_details_Buttons Styles
======================*/
.meditation_details_buttoncontainer{
    padding: 40px 40px;
    display:flex;
    justify-content:space-between;
}
.meditation_details-backBtn{
    height:25px;
    width:25px;
}
.meditation_details-backBtn-circle{
    padding:15px;
    background-color: #FAF2DA;
    border-radius:50%;
    border:1px solid #FAF2DA;
}
.btn_favAndDownload{
    display:flex;
    justify-content: space-around;
    width:15vw;
}
.meditation_details-favBtn,.meditation_details-downloadBtn{
    height:25px;
    width:25px;
}
.meditation_details-favAndDlBtn-circle{
    padding:15px;
    background-color:#e4a197;
    border-radius:50%;
    border:1px solid #E28F83;
}
/*====================
Meditation_details_Überschrift_h1 Styles
======================*/
.meditation_details_h1{
    padding: 10px 0px 10px 5%;
    font-family: 'Source Sans Pro', sans-serif;
    color: #4A503D;
}

/*====================
Meditation_details_h2 Styles
======================*/
.meditation_details_h2{
    padding: 0px 0px 20px 5%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #A1A4B2;
}

/*====================
Meditation_details_p Styles
======================*/
.meditation_details_p{
    padding: 0px 0px 20px 5%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #A1A4B2;
}
/*====================
Meditation_details_playlist-h1 Styles
======================*/
.meditation_detail_playlist-h1{
    font-family: 'Source Sans Pro', sans-serif;
    color: #3F414E;
    padding-left: 5%;;
    font-size:1.5em;
}
/*=========================
   meditation Mobile-Version Styles
==========================*/
@media (max-width: 414px) { 
    .meditation_details_header{
        height:50vh;
    }
    .meditation_details_buttoncontainer{
        padding: 40px 20px;
    }
    /* /////////////////////////////////// */
    .meditation_details-backBtn{
        height:12px;
        width:12px;
    }
    .meditation_details-backBtn-circle{
        padding:8px;
        height:4vh;
    }
    /* /////////////////////////////////// */
    .btn_favAndDownload{
        width:25vw;
    }
    .meditation_details-favBtn,.meditation_details-downloadBtn{
        height:12px;
        width:12px;
    }
    .meditation_details-favAndDlBtn-circle{
        padding:8px;
        height:4vh;
    }
    /* /////////////////////////////////// */
    .meditation_details_h1{
        padding: 10px 0px 0px 10px;
        font-size:15px;
    }
    .meditation_details_h2{
        padding: 5px 0px 0px 10px;
        font-size:12px;
    }
    .meditation_details_p{
        padding: 5px 0px 0px 10px;
        font-size:12px;
        width:76vw;
    }
    .meditation_detail_playlist-h1{
        padding: 5px 0px 0px 10px;
        font-size:15px;
    }
    }