/*====================
    Global Styles
======================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

/*
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin:0;
    background-color: #FAF2DA;
    ;
}

/*====================
    reminder-Time-day Styles
======================*/
.reminder_header{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top:10vh;
    color:#3F414E;
}
.reminder_time-meditate,.reminder_day-meditate{
    padding-left: 30px;
    padding-top:7vh;
    font-family: 'Source Sans Pro', sans-serif;
    color:#3F414E;
}
.reminder_time-meditate-p,.reminder_day-meditate-p{
    color:#A1A4B2;
    padding:3vh 0;
}
.reminder_time-meditate-input{
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid #A1A4B2;
}
/*====================
    reminder-daysname Styles
======================*/
.reminder-daysname-container{
    margin-top:3vh;
    width:40vw;
}
.reminder-daysname{
    border-radius: 50%;
    border: solid #E5E5E5 1px;
    padding: 10px 15px;
    font-size:10px;
    background-color: #E5E5E5;
    margin-left: -18px;
}