/*====================
    Global Styles
======================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
/*
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Pattaya', sans-serif;
*/

*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

/*====================
    MainPage Styles
======================*/

.main_header{
    margin: 0px;
    padding: 0px 0px 85vh 0px;
    text-align: center;
    background: url('https://images.unsplash.com/photo-1576094168768-4078c686a1c5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=976&q=80') no-repeat center/ cover;
}

.main_header h1{
    font-size: 48px;
    padding-top: 50px;
    font-family: 'Source Sans Pro', sans-serif;
}

.main_main{
    text-align: center;
}
/*=========================
    MainPage MAIN Styles
==========================*/ 

.main_main h2{
    padding-top: 5%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
}

.main_main p{
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    color: #A1A4B2;
    width: 28%;
    margin: auto;
}

/*=========================
    MainPage FOOTER Styles
==========================*/

.main_footer{
    text-align: center;
    padding-bottom: 100px;
}

.main_footer a button{
    margin-top: 100px;
    padding: 10px 120px;
    outline: none;
    border: none;
    border-radius: 50px;
    background: #E28F83;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
}

.main_footer p{
    padding-top: 30px;
    color: #A1A4B2;
    font-family: 'Source Sans Pro', sans-serif;
}

.main_footer p a{
    color: #E28F83;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}



/*=========================
    NAVIGATION STYLE  VERSION2  
==========================*/ 

div.container.nav-bar {
    
    position: fixed;
    /* overflow-x: hidden; */
    /* top:88vh; */
    /* bottom: 0; */

    top:500px;
    background-color: #fff;
    z-index: 1;
}

.container  {
    height: 12vh;
    width:100vw;
    
    font-family: 'Source Sans Pro', sans-serif;

    display: flex;
    justify-content: center;
    /* margin-bottom: 20px; */

}

.container nav{
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.container nav a{
    text-decoration: none;
}


.container .btn_wrapper{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    border-radius: 14px;

    transition: all .7s;


    /* border: green 1px solid; */

}

.container .btn_wrapper:hover .nav_top{
    box-shadow: #F6BFCA 0px 3px 8px;
    transition: all .7s ease;
}



.container nav .btn_wrapper div{
    display: flex;
    justify-content: center;
    align-items: center;

    /* border:1px solid blue; */
}

.container .nav_top{
    height: 60px;
    width: 60px;
    border-radius: 15px;
    /* padding: 10px; */
    margin-bottom: 10px;
}
.container .nav_bottom{
    height: 25%;
}


.active .nav_top, .active div img{
    background-color: pink;

}

.container nav .btn_wrapper .nav_bottom p{
    text-decoration: none;

    color: grey;
}

.container nav .active .nav_bottom p{
    color: pink;
}

.container nav .active .nav_top img{
    color: white;
}

/*=========================
    LOGIN PAGE STYLE   
==========================*/ 

#login_wrapper{
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(241, 248, 228));;
    
}
#login_wrapper h3{
    color: #4A503D;
}

/*=========================
    MainPage Mobile-Version Styles
==========================*/
@media (max-width: 414px) { 
    .main_header{
        padding: 0px 0px 50vh 0px;
    }
    .main_header h1{
        font-size: 30px;
        color:#4e5058;
    }
    .main_main h2{
        font-size: 30px;
        color:#4e5058;
    }
    .main_main p{
        width: 60%;
        font-size: 13px;
    }
    .main_footer a button{
        padding: 10px 70px;
    }
 .main_footer p{
    font-size:10px;
 }
 .container{
     width:100vw;
 }
} 
@media (max-width: 1200px) {
    .main_main p{
        width: 40%;
    }
 }
 @media (max-width: 1000px) {
    .main_main p{
        width: 47%;
    }
 }
 @media (max-width: 800px) {
    .main_main p{
        width: 50%;
    }
 }
 @media (max-width: 600px) {
    .main_main p{
        width: 70%;
    }
 }
