/*====================
    Global Styles
======================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

/*
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*====================
Yoga_details_Bild Styles
======================*/

.yoga_details_header{
background: url('https://images.unsplash.com/photo-1506126613408-eca07ce68773?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1031&q=80') no-repeat center/ cover;
padding: 0px 0px 70vh 0px;
text-align: center;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;

}

/*====================
Yoga_details_Überschrift h1 Styles
======================*/
.yoga_details_h1{
    padding: 50px 0px 10px 50px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #4A503D;
}

/*====================
Yoga_details_h2 Styles
======================*/
.yoga_details_h2{
    padding: 0px 0px 20px 50px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    color: #A1A4B2;
}

/*====================
Yoga_details_p Styles
======================*/
.yoga_details_p{
    padding: 0px 0px 20px 50px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #A1A4B2;
}

/*====================
Yoga_details_buttonconatiner
======================*/
.yoga_details_buttoncontainer{
    padding: 50px 10px;
    display:flex;
    justify-content:space-between;
}

/*=========================
    yoga-details Mobile-Version Styles
==========================*/
@media (max-width: 414px) { 
    .yoga_details_header{
        padding: 0px 0px 50vh 0px;
        
        }
        .yoga_details_h1,.yoga_details_h2{
            padding: 50px 0px 0px 10px;
        }
        .yoga_details_h2{
            padding: 5px 0px 10px 10px;
        }
        .yoga_details_p{
            padding: 5px 0px 10px 10px;
        }
    }
    @media (max-width: 800px) { 
            .yoga_details_h1,.yoga_details_h2{
                padding: 50px 0px 0px 20px;
            }
            .yoga_details_h2{
                padding: 5px 0px 10px 20px;
            }
            .yoga_details_p{
                padding: 5px 0px 10px 20px;
            }
        }