<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Home</title>
    <link rel="stylesheet" href="./home.css">
</head>

<body>
    <header class="home_header">
        <h1>Silent Moon</h1>
        <h2>Good morning User</h2>
        <p>We hope you habe a good day</p>
    </header>
    <main class="home_main">
        <section>
            <div>
                <h2>Healthy Back</h2>
                <p>Beginner</p>
                <div>
                    <p>3-10 min</p>
                    <a href="">Start</a>
                </div>
            </div>
            <div>
                <h2>Meditation</h2>
                <p>Beginner</p>
                <div>
                    <p>3-10 min</p>
                    <a href="">Start</a>
                </div>
            </div>
        </section>
    </main>

    <%- include('./partials/nav.ejs') %>
</body>

</html>