<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meditation</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="./meditation_details.css">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>

<body>
    <!--BILD-->
    <header class="meditation_details_header">
        <!--Buttons auf dem Bild-->
        <div class="meditation_details_buttoncontainer">
            <a href="/yoga_details" class="meditation_details-backBtn-circle">
                <i class="las la-times"></i>
            </a>
            <div class="meditation_details-favAndDlBtn-circle">
                <button class="meditation_details-favBtn"><i class="las la-heart"></i></button>
                <button class="meditation_details-downloadBtn"><i class="las la-cloud-download-alt"></i></button>
            </div>
        </div>
    </header>

    <!--Text-->
    <section>
        <h1 class="meditation_details_h1">Happy Morning</h1>
        <h2 class="meditation_details_h2">COURSE</h2>
        <p class="meditation_details_p">Ease the mind into a restful night's sleep with these deep, amblent tones.
        </p>
    </section>

    <section class="meditation_detail_playlist">
        <h1 class="meditation_detail_playlist-h1">Playlist</h1>
        <% data.forEach(element=> { %>

            <a href=<%=`/med_player/${data.indexOf(element)}`%> class="meditation_detail_playlist-name">
                <h2 class="meditation_detail_playlist-h2">
                    <%= element.track.name %>
                </h2>
                <audio controls class="meditation_detail_playlist-audio">
                    <source src=<%=element.track.preview_url %>>
                </audio>

            </a>

            <% }) %>
    </section>

     <!-- *********************** -->
    <!-- ******  NAVIGATION   ****** -->
    <!-- *********************** -->
    <div class="container nav-bar">
        <nav>
            
    
                <a href="/meditation">
                    <div class="active  btn_wrapper">
                        
                            <div class="nav_top">
    
                                <img src="/images/nav_meditation.svg" alt="">
                            </div>
                            <div class="nav_bottom">
    
                                <p>Meditation</p>
                            </div>
                        
                    </div>
                </a>
    
                <a href="/music">
                    <div class="btn_wrapper">
                        
                        <div class="nav_top">
    
                            <img src="/images/music.svg" alt="">
                        </div>
        
                        <div class="nav_bottom">
        
                            <p>Music</p>
                        </div>
                        
                    </div>
                </a>
    
                <a href="/home">
                    <div class="btn_wrapper">
                        
                        <div class="nav_top">
    
                            <img src="/images/home.svg" alt="">
                        </div>
        
                        <div class="nav_bottom">
        
                            <p>Home</p>
                        </div>
                        
                    </div>
                </a>
    
                <a href="/yoga">
                    <div class=" btn_wrapper">
                        
                        <div class="nav_top">
    
                            <img src="/images/yoga.svg" alt="">
                        </div>
        
                        <div class="nav_bottom">
        
                            <p>Yoga</p>
                        </div>
                        
                    </div>
                </a>
    
                <a href="/profile">
                    <div class="btn_wrapper">
                        
                        <div class="nav_top">
    
                            <img src="/images/profile.svg" alt="">
                        </div>
        
                        <div class="nav_bottom">
        
                            <p>Profile</p>
                        </div>
                        
                    </div>
                </a>
    
        </nav>
    </div>


 
    
        <script>
            const favBtn = document.getElementById('fav-Btn');
            const heart = document.getElementById('heart');
            const heart2 = document.getElementById('heart2');
            favBtn.addEventListener('click', () => {
                heart.style.display = 'none'
                heart2.style.display = 'inline'
            })
        </script>
</body>

</html>