<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>music</title>
    <link rel="stylesheet" href="./music.css">
</head>

<body>
    <!--Silent Moon header-->
    <header class="music_header">
        <h1>Silent Moon</h1>
    </header>

    <main>
        <!--Section Good Vibes-->
        <section class="goodvibes">
            <h1>Good Vibes</h1>
            <p>Breath. Sense. Feel. Transcend.</p>
        </section>

        <!--Section Favorits & Listening-->
        <section class="favorits_listening">
            <div class="favorits">
                <p>Favorits</p>
            </div>
            <div class="Listening">
                <p>Listening</p>

            </div>
        </section>






    </main>

    <h1>music page</h1>
    <% data.forEach(element=> { %>

        <a href=<%=`/med_player/${data.indexOf(element)}`%>>


            <h2>
                <%= element.track.name %>
            </h2>
            <audio controls>
                <source src=<%=element.track.preview_url %>>
            </audio>

        </a>

        <% }) %>
</body>

</html>