<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="./profile.css">
</head>

<body>
    <header>
        <h1>SILENT MOON</h1>
    </header>

    <section class="profile_head">
        <img src="images/profilepic.png">
        <!--Hellotext-->
        <div class="profile_hello">
            <h2>Hello <%= `${name}` %>
            </h2>
        </div>
    </section>

    <section class="opener_text">
        <h3>youre next Yoga session.</h3>
    </section>

    <section class="sessions">
        <h2>Favourite Yoga Sessions</h2>
    </section>

    <!--Horizontal Slider-->
    <div class="horizontal_slider">
        <div class="slider_container">
            <a href="/yoga_details">
                <div class="item">
                    <img src="images/fatburner.png">
                    <figcaption>Fatburner</figcaption>
                    <div class="description">
                        <p>BEGINNER</p>
                        <p>3-10MIN</p>
                    </div>
                </div>
            </a>
            <a href="/yoga_details">
                <div class="item">
                    <img src="images/recovery.png">
                    <figcaption>Recovery</figcaption>
                    <div class="description">
                        <p>Expert</p>
                        <p>3-10MIN</p>
                    </div>
                </div>
            </a>
            <a href="/yoga_details">
                <div class="item">
                    <img src="images/innerbalance.png">
                    <figcaption>Back</figcaption>
                    <div class="description">
                        <p>BEGINNER</p>
                        <p>3-10MIN</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <section class="sessions">
        <h2>Favourite Meditations</h2>
    </section>

    <!--Horizontal Slider2 working -->
    <div class="horizontal_slider">
        <div class="slider_container">
            <a href="/yoga_details">
                <div class="item">
                    <img src="images/back.png">
                    <figcaption>Inner Balance</figcaption>
                    <div class="description">
                        <p>BEGINNER</p>
                        <p>3-10MIN</p>
                    </div>
                </div>
            </a>

            <a href="/yoga_details">
                <div class="item">
                    <img src="images/selfforgiveness.png">
                    <figcaption>Self-Forgiveness</figcaption>
                    <div class="description">
                        <p>BEGINNER</p>
                        <p>3-10MIN</p>
                    </div>
                </div>
            </a>

            <a href="/yoga_details">
                <div class="item">
                    <img src="images/refresh.png">
                    <figcaption>Sleep</figcaption>
                    <div class="description">
                        <p>BEGINNER</p>
                        <p>3-10MIN</p>
                    </div>
                </div>
            </a>
        </div>
    </div>



    <!-- *********************** -->
    <!-- ******  NAVIGATION   ****** -->
    <!-- *********************** -->
    <div class="container nav-bar">
        <nav>


            <a href="/meditation">
                <div class="btn_wrapper">

                    <div class="nav_top">

                        <img src="/images/nav_meditation.svg" alt="">
                    </div>
                    <div class="nav_bottom">

                        <p>Meditation</p>
                    </div>

                </div>
            </a>

            <a href="/music">
                <div class="btn_wrapper">

                    <div class="nav_top">

                        <img src="/images/music.svg" alt="">
                    </div>

                    <div class="nav_bottom">

                        <p>Music</p>
                    </div>

                </div>
            </a>

            <a href="/home">
                <div class="btn_wrapper">

                    <div class="nav_top">

                        <img src="/images/home.svg" alt="">
                    </div>

                    <div class="nav_bottom">

                        <p>Home</p>
                    </div>

                </div>
            </a>

            <a href="/yoga">
                <div class=" btn_wrapper">

                    <div class="nav_top">

                        <img src="/images/yoga.svg" alt="">
                    </div>

                    <div class="nav_bottom">

                        <p>Yoga</p>
                    </div>

                </div>
            </a>

            <a href="/profile">
                <div class="active btn_wrapper">

                    <div class="nav_top">

                        <img src="/images/profile.svg" alt="">
                    </div>

                    <div class="nav_bottom">

                        <p>Profile</p>
                    </div>

                </div>
            </a>

        </nav>
    </div>





</body>

</html>