<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reminders</title>
    <link rel="stylesheet" href="./reminder.css">
</head>

<body>
    <header class="reminder_header">
        <h1>Silent Moon</h1>
    </header>
    <section class="reminder_time-meditate">
        <h1 class="reminder_time-meditate-h1">What time would you like to meditate?</h1>
        <p class="reminder_time-meditate-p">Any time you can choose but We recommend first thing in the morning.</p>
        <form>
            <input type="text" id="timePicker">
        </form>

        <body>

            <div id="app">
                <timepicker v-model="time"> </timepicker>
            </div>
    </section>
    <section class="reminder_day-meditate">
        <h1>Which day would you like to meditate?</h1>
        <p class="reminder_day-meditate-p">Everyday is best, but we recommend picking
            at least five.</p>
        <!-- <div class="reminder-daysname-container" id="reminder-daysname-container" onclick="changeColor()">
            <div class="reminder-daysname" id="reminder-daysname">
                <a href="#" class="reminder-daysname-a" id="reminder-daysname-a">SU</a>
            </div>
           <div class="reminder-daysname" id="reminder-daysname">
                <a href="#" class="reminder-daysname-a" id="reminder-daysname-a">M</a>
            </div>
            <div class="reminder-daysname" id="reminder-daysname">
                <a href="" class="reminder-daysname-a" id="reminder-daysname-a">T</a>
            </div>
            <div class="reminder-daysname" id="reminder-daysname">
                <a href="" class="reminder-daysname-a" id="reminder-daysname-a">W</a>
            </div>
            <div class="reminder-daysname" id="reminder-daysname">
                <a href="" class="reminder-daysname-a" id="reminder-daysname-a">TH</a>
            </div>
            <div class="reminder-daysname" id="reminder-daysname">
                <a href="" class="reminder-daysname-a" id="reminder-daysname-a">F</a>
            </div>
            <div class="reminder-daysname" id="reminder-daysname">
                <a href="" class="reminder-daysname-a" id="reminder-daysname-a">M</a>
            </div>
        </div> -->
        <form action="" target="_blank" class="reminder-daysname-container" onclick="changeColor()">
            <div class="reminder-daysname-checkbox">
                <div>
                    <input type="checkbox" name="days" id="myCheck">
                    <label class="reminder-daysname" id="reminder-daysname">SU</label>
                </div>
                <div>
                    <input type="checkbox" name="days" id="myCheck2">
                    <label class="reminder-daysname2" id="reminder-daysname">M</label>
                </div>
                <div>
                    <input type="checkbox" name="days" id="myCheck3">
                    <label class="reminder-daysname3" id="reminder-daysname">T</label>
                </div>
                <div>
                    <input type="checkbox" name="days" id="myCheck4">
                    <label class="reminder-daysname4" id="reminder-daysname">W</label>
                </div>
                <div>
                    <input type="checkbox" name="days" id="myCheck5">
                    <label class="reminder-daysname5" id="reminder-daysname">TH</label>
                </div>
                <div>
                    <input type="checkbox" name="days" id="myCheck6">
                    <label class="reminder-daysname6" id="reminder-daysname">F</label>
                </div>
                <div>
                    <input type="checkbox" name="days" id="myCheck7">
                    <label class="reminder-daysname7" id="reminder-daysname">S</label>
                </div>
            </div>
        </form>
    </section>
    <section>
        <a href="/profile" class="reminder-save-Btn">SAVE</a><br>
        <a href="/profile" class="reminder-ignore-Btn">NO,THANKS</a>
    </section>
    <script>

        const myCheck = document.getElementById('myCheck')
        myCheck.addEventListener('click', () => {
            if (myCheck.checked) {
                document.querySelector('.reminder-daysname').style.backgroundColor = '#8E9775'
                document.querySelector('.reminder-daysname').style.color = '#FAF2DA'
            } else {
                document.querySelector('.reminder-daysname').style.backgroundColor = '#E5E5E5'
                document.querySelector('.reminder-daysname').style.color = '#3F414E'
            }
        })
        const myCheck2 = document.getElementById('myCheck2')
        myCheck2.addEventListener('click', () => {
            if (myCheck2.checked) {
                document.querySelector('.reminder-daysname2').style.backgroundColor = '#8E9775'
                document.querySelector('.reminder-daysname2').style.color = '#FAF2DA'
            } else {
                document.querySelector('.reminder-daysname2').style.backgroundColor = '#E5E5E5'
                document.querySelector('.reminder-daysname2').style.color = '#3F414E'
            }
        })
        const myCheck3 = document.getElementById('myCheck3')
        myCheck3.addEventListener('click', () => {
            if (myCheck3.checked) {
                document.querySelector('.reminder-daysname3').style.backgroundColor = '#8E9775'
                document.querySelector('.reminder-daysname3').style.color = '#FAF2DA'
            } else {
                document.querySelector('.reminder-daysname3').style.backgroundColor = '#E5E5E5'
                document.querySelector('.reminder-daysname3').style.color = '#3F414E'
            }
        })
        const myCheck4 = document.getElementById('myCheck4')
        myCheck4.addEventListener('click', () => {
            if (myCheck4.checked) {
                document.querySelector('.reminder-daysname4').style.backgroundColor = '#8E9775'
                document.querySelector('.reminder-daysname4').style.color = '#FAF2DA'
            } else {
                document.querySelector('.reminder-daysname4').style.backgroundColor = '#E5E5E5'
                document.querySelector('.reminder-daysname4').style.color = '#3F414E'
            }
        })
        const myCheck5 = document.getElementById('myCheck5')
        myCheck5.addEventListener('click', () => {
            if (myCheck5.checked) {
                document.querySelector('.reminder-daysname5').style.backgroundColor = '#8E9775'
                document.querySelector('.reminder-daysname5').style.color = '#FAF2DA'
            } else {
                document.querySelector('.reminder-daysname5').style.backgroundColor = '#E5E5E5'
                document.querySelector('.reminder-daysname5').style.color = '#3F414E'
            }
        })
        const myCheck6 = document.getElementById('myCheck6')
        myCheck6.addEventListener('click', () => {
            if (myCheck6.checked) {
                document.querySelector('.reminder-daysname6').style.backgroundColor = '#8E9775'
                document.querySelector('.reminder-daysname6').style.color = '#FAF2DA'
            } else {
                document.querySelector('.reminder-daysname6').style.backgroundColor = '#E5E5E5'
                document.querySelector('.reminder-daysname6').style.color = '#3F414E'
            }
        })
        const myCheck7 = document.getElementById('myCheck7')
        myCheck7.addEventListener('click', () => {
            if (myCheck7.checked) {
                document.querySelector('.reminder-daysname7').style.backgroundColor = '#8E9775'
                document.querySelector('.reminder-daysname7').style.color = '#FAF2DA'
            } else {
                document.querySelector('.reminder-daysname7').style.backgroundColor = '#E5E5E5'
                document.querySelector('.reminder-daysname7').style.color = '#3F414E'
            }
        })
        function timePicker(id) {
            var input = document.getElementById(id);
            var timePicker = document.createElement('div');
            timePicker.classList.add('time-picker');
            input.value = '08:30';

            //open timepicker
            input.onclick = function () {
                timePicker.classList.toggle('open');

                this.setAttribute('disabled', 'disabled');
                timePicker.innerHTML += `
      <div class="set-time">
         <div class="label">
            <a id="plusH" >+</a>
            <input class="set" type="text" id="hour" value="08">
            <a id="minusH">-</a>
         </div>
         <div class="label">
            <a id="plusM">+</a>
            <input class="set" type="text" id="minute" value="30">
            <a id="minusM">-</a>
         </div>
      </div>
      <div id="submitTime">Set time</div>`;
                this.after(timePicker);
                var plusH = document.getElementById('plusH');
                var minusH = document.getElementById('minusH');
                var plusM = document.getElementById('plusM');
                var minusM = document.getElementById('minusM');
                var h = parseInt(document.getElementById('hour').value);
                var m = parseInt(document.getElementById('minute').value);
                //increment hour
                plusH.onclick = function () {
                    h = isNaN(h) ? 0 : h;
                    if (h === 23) {
                        h = -1;
                    }
                    h++;
                    document.getElementById('hour').value = (h < 10 ? '0' : 0) + h;
                }
                //decrement hour
                minusH.onclick = function () {
                    h = isNaN(h) ? 0 : h;
                    if (h === 0) {
                        h = 24;
                    }
                    h--;
                    document.getElementById('hour').value = (h < 10 ? '0' : 0) + h;
                }
                //increment hour
                plusM.onclick = function () {
                    m = isNaN(m) ? 0 : m;
                    if (m === 45) {
                        m = -15;
                    }
                    m = m + 15;
                    document.getElementById('minute').value = (m < 10 ? '0' : 0) + m;
                }
                //decrement hour
                minusM.onclick = function () {
                    m = isNaN(m) ? 0 : m;
                    if (m === 0) {
                        m = 60;
                    }
                    m = m - 15;
                    document.getElementById('minute').value = (m < 10 ? '0' : 0) + m;
                }

                //submit timepicker
                var submit = document.getElementById("submitTime");
                submit.onclick = function () {
                    input.value = document.getElementById('hour').value + ':' + document.getElementById('minute').value;
                    input.removeAttribute('disabled');
                    timePicker.classList.toggle('open');
                    timePicker.innerHTML = '';
                }
            }
        }

        timePicker('timePicker');
    </script>
</body>

</html>