<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reminders</title>
    <link rel="stylesheet" href="./reminder.css">
</head>

<body>
    <header class="reminder_header">
        <h1>Silent Moon</h1>
    </header>
    <section class="reminder_time-meditate">
        <h1 class="reminder_time-meditate-h1">What time would you like to meditate?</h1>
        <p class="reminder_time-meditate-p">Any time you can choose but We recommend first thing in the morning.</p>
        <form action="/uhr" method="post">
            <input type="time" data-role="timepicker" class="reminder_time-meditate-input" id="zeit">
        </form>
    </section>
    <section class="reminder_day-meditate">
        <h1>Which day would you like to meditate?</h1>
        <p class="reminder_day-meditate-p">Everyday is best, but we recommend picking
            at least five.</p>
        <!-- <div class="reminder-daysname-container" id="reminder-daysname-container" onclick="changeColor()">
            <div class="reminder-daysname" id="reminder-daysname">
                <a href="#" class="reminder-daysname-a" id="reminder-daysname-a">SU</a>
            </div>
           <div class="reminder-daysname" id="reminder-daysname">
                <a href="#" class="reminder-daysname-a" id="reminder-daysname-a">M</a>
            </div>
            <div class="reminder-daysname" id="reminder-daysname">
                <a href="" class="reminder-daysname-a" id="reminder-daysname-a">T</a>
            </div>
            <div class="reminder-daysname" id="reminder-daysname">
                <a href="" class="reminder-daysname-a" id="reminder-daysname-a">W</a>
            </div>
            <div class="reminder-daysname" id="reminder-daysname">
                <a href="" class="reminder-daysname-a" id="reminder-daysname-a">TH</a>
            </div>
            <div class="reminder-daysname" id="reminder-daysname">
                <a href="" class="reminder-daysname-a" id="reminder-daysname-a">F</a>
            </div>
            <div class="reminder-daysname" id="reminder-daysname">
                <a href="" class="reminder-daysname-a" id="reminder-daysname-a">M</a>
            </div>
        </div> -->
        <form action="" target="_blank" class="reminder-daysname-container" onclick="changeColor()">
            <div class="reminder-daysname-checkbox">
                <div>
                    <input type="checkbox" name="days" id="myCheck">
                    <label class="reminder-daysname" id="reminder-daysname">SU</label>
                </div>
                <div>
                    <input type="checkbox" name="days" id="myCheck2">
                    <label class="reminder-daysname" id="reminder-daysname">M</label>
                </div>
                <div>
                    <input type="checkbox" name="days" id="myCheck">
                    <label class="reminder-daysname" id="reminder-daysname">T</label>
                </div>
                <div>
                    <input type="checkbox" name="days" id="myCheck">
                    <label class="reminder-daysname" id="reminder-daysname">W</label>
                </div>
            </div>
            <div class="reminder-daysname-checkbox2">
                <div>
                    <input type="checkbox" name="days" id="myCheck">
                    <label class="reminder-daysname" id="reminder-daysname">TH</label>
                </div>
                <div>
                    <input type="checkbox" name="days" id="myCheck">
                    <label class="reminder-daysname" id="reminder-daysname">F</label>
                </div>
                <div>
                    <input type="checkbox" name="days" id="myCheck">
                    <label class="reminder-daysname" id="reminder-daysname">S</label>
                </div>
            </div>
        </form>
    </section>
    <section>
        <button class="reminder-save-Btn">SAVE</button><br>
        <a href="/profile" class="reminder-ignore-Btn">NO,THANKS</a>
    </section>
    <script>

        const myCheck = document.getElementById('myCheck')
        myCheck.addEventListener('click', () => {
            if (myCheck.checked) {
                document.querySelector('#reminder-daysname').style.backgroundColor = '#8E9775'
                document.querySelector('#reminder-daysname').style.color = '#FAF2DA'
            } else {
                document.querySelector('#reminder-daysname').style.backgroundColor = '#E5E5E5'
                document.querySelector('#reminder-daysname').style.color = '#3F414E'
            }
        })
    </script>
</body>

</html>