<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Yoga details</title>
    <link rel="stylesheet" href="./yoga_details.css">
</head>

<body>
    <header class="yoga_details_header">
        <div class="yoga_details_buttoncontainer">
            <button class="btn_goback">Button</button>
            <div class="btn_favAndDownload">
                <button class="btn_fav">Button</button>
                <button class="btn_download">Button</button>
            </div>
        </div>
    </header>

    <!--Text-->
    <section>
        <h1 class="yoga_details_h1">Healthy Back</h1>
        <h2 class="yoga_details_h2">BEGINNER</h2>
        <p class="yoga_details_p">Ease the mind into a restful night`s sleep with<br>these deep, amblent tones.</p>
    </section>
    <%- include('./partials/nav3.ejs')  %> 


    <%- include('./partials/nav3.ejs') %>

        <%- include('./partials/nav.ejs') %>

</body>

</html>