<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Yoga details</title>
    <link rel="stylesheet" href="./yoga_details.css">
    <link href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>

<body>
    <header class="yoga_details_header">
        <div class="yoga_details_buttoncontainer">
            <button class="btn_goback">Button</button>
            <div class="btn_favAndDownload">
                <button class="btn_fav">Button</button>
                <button class="btn_download">Button</button>
            </div>
        </div>
    </header>

    <!--Text-->
    <section>
        <h1 class="yoga_details_h1">Healthy Back</h1>
        <h2 class="yoga_details_h2">BEGINNER</h2>
        <p class="yoga_details_p">Ease the mind into a restful night`s sleep with<br>these deep, amblent tones.</p>
    </section>

    <!-- *********************** -->
    <!-- ******  NAVIGATION   ****** -->
    <!-- *********************** -->
    <div class="container nav-bar">
        <nav>


            <a href="/meditation">
                <div class="active  btn_wrapper">

                    <div class="nav_top">

                        <img src="/images/nav_meditation.svg" alt="">
                    </div>
                    <div class="nav_bottom">

                        <p>Meditation</p>
                    </div>

                </div>
            </a>

            <a href="/music">
                <div class="btn_wrapper">

                    <div class="nav_top">

                        <img src="/images/music.svg" alt="">
                    </div>

                    <div class="nav_bottom">

                        <p>Music</p>
                    </div>

                </div>
            </a>

            <a href="/home">
                <div class="btn_wrapper">

                    <div class="nav_top">

                        <img src="/images/home.svg" alt="">
                    </div>

                    <div class="nav_bottom">

                        <p>Home</p>
                    </div>

                </div>
            </a>

            <a href="/yoga">
                <div class=" btn_wrapper">

                    <div class="nav_top">

                        <img src="/images/yoga.svg" alt="">
                    </div>

                    <div class="nav_bottom">

                        <p>Yoga</p>
                    </div>

                </div>
            </a>

            <a href="/profile">
                <div class="btn_wrapper">

                    <div class="nav_top">

                        <img src="/images/profile.svg" alt="">
                    </div>

                    <div class="nav_bottom">

                        <p>Profile</p>
                    </div>

                </div>
            </a>

        </nav>
    </div>








</body>

</html>